app.add-opacity
  content
  content-work

  script.

    var self = this;

    this.contents = {
      test: {
        title: 'title',
        body: 'body',
        label: 'link label',
      },
    };

  style(scoped, type='less').
    :scope {
      display: block;
    }