item-h2
  div.wrap-item
    h2(style='{opts.content.color}') { opts.content.label }
    

  style(scoped, type='less').
    :scope {
      display: block;
      .wrap-item {
        h2 {
          font-size: 4vw;
          letter-spacing: 2px;
          padding: 0.02em 0.5em;/*上下 左右の余白*/
          background: transparent;/*背景透明に*/
          border-left: solid 5px #2B45F4;/*左線*/
        }
      }
      @media only screen and (max-width : 600px) {
        .wrap-item {
          h2 {
            font-size: 24px;
          }
        }
      }
      @media only screen and (min-width : 960px) {
        .wrap-item {
          h2 {
            font-size: 38.4px
          }
        }
      }
    }

  script.
