item-label-top
  div.wrap-item
    div.wrap-p
      p.pl2.pr10.py3 { opts.content }
      


  style(scoped, type='less').
    :scope {
      display: block;
      .wrap-item {
        .wrap-p {
          display: inline-block;
          position: relative;
          p {
            display: inline;
            color: #ffffff;
            font-size: 4vw;
            font-weight: bold;
            letter-spacing: 2px;
            background: linear-gradient(to right, rgba(255,255,255,0) 50%, rgba(42, 69, 244, 1) 50%);
            background-size: 200%;
            background-position: -100% 0;
          }
        }
      }
      @media only screen and (max-width : 600px) {
        .wrap-item {
          .wrap-p {
            p {
              font-size: 5vw;
            }
          }
        }
      }
    }

  script.
    //debugger
