item-time-event
  div.wrap-item.f
    div.wrap-cercle
      div.circle
    div.wrap-info.ml12
      p { opts.content.time }
      h3.mt8 { opts.content.label }

  style(scoped, type='less').
    :scope {
      display: block;
      .wrap-item {
        .wrap-cercle {
          .circle {
            position: relative;
            top: 1.6px;
            left: -7px;
            display: block;
            width: 12px;
            height: 12px;
            background: #FFF;
          } 
        }
        .wrap-info {
          p {
            font-size: 16px;
            color: #FFF;
          }
          h3 {
            color: #FFF;
          }
        }
      }
    }

  script.
    //debugger
