item-guest.s-mr0.mb20
  div.wrap-item.f
    div.wrap-img
      img(src='{ opts.content.src }')
    div.wrap-info.ml8
      //- div.wrap-name.f.fm
      div.wrap-name
        p.name { opts.content.name }
      p.about { opts.content.about }

  style(scoped, type='less').
    :scope {
      display: block;
      width: 50%;
      .wrap-item {
        .wrap-img {
          width: 20%;
          img {
            width: 100%;
          }
        }
        .wrap-info {
          width: 80%;
          p {
            color: #FFF;
            letter-spacing: 0.5px;
          }
          .wrap-name {
            //- height: 60%;
            .name {
              font-size: 20px;
              font-weight: bold;
              line-height: 1.5;
            }
          }
          .about {
            font-size: 14px;
            //- font-weight: bold;
            opacity: 0.85;
          }
        }
      }
      @media only screen and (max-width : 600px) {
        width: 100%;
        .wrap-item {
          .wrap-info {
            .wrap-name {
              .name {
                font-size: 16px;
              }
            }
          }
        }
      }
    }

  script.
