item-list
  div.wrap-item.f.mb24
    p.mr20.num { opts.content.num }
    p.text { opts.content.content }
  
  
  style(scoped, type='less').
    :scope {
      display: block;
      .wrap-item {
        .num {
          height: 32px;
          transform: scale(1.3);
          vertical-align: top;
          opacity: 1.0;
        }
      }
      @media only screen and (max-width : 600px) {
        .wrap-item {
          .num {     
            transform: scale(1.3);
          }
        }
      }
    }
  
  
  script.
