item-map
  div#map.gmap
    iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3250.192021359592!2d139.6334508!3d35.4500403!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185c58a8ea113d%3A0x1acc4479835da6c6!2zWUNDIOODqOOCs-ODj-ODnuWJtemAoOmDveW4guOCu-ODs-OCv-ODvA!5e0!3m2!1sja!2sjp!4v1519820762554",
      width="600" height="450" frameborder="0",
      style="border:0" allowfullscreen)
  //- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0woFW-WOulJm36nrAMt5WRMDmALuXUg4&callback=initMap" async defer)
  //- script.
  //-   function initMap() {
  //-     // Create a map object and specify the DOM element for display.
  //-     var map = new google.maps.Map(document.getElementById('map'), {
  //-       center: {lat: -34.397, lng: 150.644},
  //-       zoom: 8
  //-     });
  //-   }
  
  style(scoped, type='less').
    :scope {
      display: block;
      .gmap {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
      }
      .gmap iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      @media only screen and (max-width : 600px) {
        .gmap iframe {
          width: 100vw;
        }
      }
    }
  
  
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0woFW-WOulJm36nrAMt5WRMDmALuXUg4&callback=initMap" async defer)
  script.
    function initMap() {
      // Create a map object and specify the DOM element for display.
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 8
      });
    }
