item-list.mb12
  div.wrap-item.f
    p.num.pt3 { opts.content.num }
    p.ml6 { opts.content.content }
    

  style(scoped, type='less').
    :scope {
      display: block;
      .wrap-item {
        .num {
          transform: scale(1.1);
        }
      }
    }

  script.
