item-work.mb2
  a.wrap-item.box-1x1(href='{opts.content.href}', style='background-image: url("{opts.content.src}");')
    
  style(scoped, type='less').
    :scope {
      display: block;
      width: 19.8%;
      background: #efefef;
      .wrap-item {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        //- background: #EEE;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      .box-1x1:before {
        content: "";
        display: block;
        padding-top: 100%;
      }
      :hover {
        opacity: 0.2;
        transition: 0.2s;
      }
      @media only screen and (max-width : 600px) {
        width: 33%;
      }
    }

  script.
