//- index.jade
extends ./layout

block content
  app
  script(src='./scripts/tags.js')
  script.

    riot.route('/works/*', function(tagName) {
    
      $('app').removeClass('not-opacity');

      var content = $('content')[0].dataset.is;
      if(content==undefined){
        riot.mount('content', 'page-top', {content: 'content'});
      }
      var mountContent = workContents[tagName];
      riot.mount('content', 'page-work', {content: mountContent});
      riot.update();
    });

    riot.route(function(tagName) {

      $('app').removeClass('not-opacity');

      console.log(tagName);
      tagName = tagName || 'page-top';
      var content = $('content')[0].dataset.is;
      
      //if(GLOB.visitedTop != true){
        console.log('topmounted')
        riot.mount('content', 'page-top', {content: 'content'});
        riot.update();
      //}
    });

    riot.route.start(true);
    
    var tags = riot.mount('app');