page-top
  module-top
  module-about
  module-works
  module-event
  module-detail
  module-footer


  style(scoped, type='less').
    :scope {
      display: block;
      /*
      .wrap-module {
        width: 90%;
        max-width: 948px;
        margin: 0 auto;
      }
      */
    }

  script.