page-top
  module-top
  module-about
  module-works#works
  module-event
  module-detail
  module-footer


  style(scoped, type='less').
    :scope {
      display: block;
      /*
      .wrap-module {
        width: 90%;
        max-width: 948px;
        margin: 0 auto;
      }
      */
      ::selection {
        color: #FFFF00;
        //- background-color: #F5EA37;
        background-color: #212121;
      }
    }

  script.
    /*
    this.on('mount', function() {
      GLOB.visitedTop = true;
    });
    */
    this.on('mount', function(){

      if(GLOB.scrollPoint){
        TO_SCROLL.toScroll(GLOB.scrollPoint);
        scrollPoint = false;
      }

      setTimeout(function() {
        $('app').addClass('not-opacity');
      }, 400);
    });
