module-content-work
  div.wrap-module
    h2 作品名
    div.wrap-explain.mt20
      p いろはにほへと、ここに説明文が入ります。ここに表示する文章は当日会場のキャプションに書く内容と同じがでいいかなと考えています。200文字程度が丁度いいかなって考えてる。どうかな？ここらへんで大体100文字。少し長いかも...？
    div.wrap-prof.mt12
      p 石原航
      p 脇田玲研究室
    div.wrap-img.mt40
      img(src='./img/works/detail/aura/1.png')
      img(src='./img/works/detail/aura/1.png')
      img(src='./img/works/detail/aura/1.png')
      img(src='./img/works/detail/aura/1.png')

    
  style(scoped, type='less').
    :scope {
      display: block;
      background: #2B45F4;
      .wrap-module { 
        width: 92%;
        max-width: 948px;
        margin: 0 auto;
        h2 {
          color: #fff;
        }
        .wrap-explain {
          p {
            color: #FFF;
            font-weight: lighter;
          }
        }
        .wrap-prof {
          p {
            color: #FFF;
            text-align: right;
            font-weight: lighter;
          }
        }
      }
    }

  script.
