module-top
  div.wrap-module
    div.bg-cover-top
    div.wrap-labels
      item-label-top(content='慶應義塾大学SFC')
      item-label-top(content='学生有志 合同展示会 2018').mt8
      h1.mt10.mb20 X-port
      item-label-top(content='2018.03.24th(sat) – 25th(sun)')
      item-label-top(content='YCC ヨコハマ創造都市センター').mt12


  style(scoped, type='less').
    :scope {
      display: block;
      .wrap-module {
        position: relative;
        z-index: 0;
        width: 100%;
        height: 135vh;
        background-image: url("./img/hiro-pc@2x.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        .bg-cover-top {
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 135vh;
          background: #FFF;
          padding-top: -100px;
        }  
        .wrap-labels {
          position: relative;
          z-index: 2;
          width: 92%;
          //- max-width: 948px;
          margin: 0 auto;
          //- margin-left:4%;
          padding-top: 5vh;
          h1 {
            font-size: 15vw;
            letter-spacing: 2px;
            color: #2B45F4;
          }
        }
      }
      @media only screen and (max-width : 600px) {
        .wrap-module {
          background-image: url("./img/sp/hiro-sp@2x.png");
          .wrap-labels {
            padding-top: 10vh;
            h1 {
              font-size: 25vw;
            }
          }
        }
      }
      @media only screen and (min-width : 960px) {
        .wrap-module {
          .wrap-labels {
            h1 {
              font-size: 144px
            }
            item-label-top {
              font-size: 43.2px;
            }
          }
        }
      }
    }

  script.
