module-about.pt40.pb80
  div.wrap-module
    item-h2(content='{h2}').mb32
    p.mb32 「X-port」は慶應義塾大学SFC 学生有志による合同展示会です。
      | 慶應義塾大学SFC X-Designプログラムに所属する学生を中心に、
      | 計20点の研究成果物が展示されます。
      | 本年度のテーマである「X-port」には、2つの意味が込められています。
    wrap-list
      item-list(each='{item in lists}' content='{item}')

  style(scoped, type='less').
    :scope {
      display: block;
      background: #2B45F4;
      .wrap-module { 
        width: 92%;
        max-width: 948px;
        margin: 0 auto;
        p {
          font-size: 20px;
          color: #fff;
          letter-spacing: 1px;
          line-height: 1.6;
          font-weight: bold;
          opacity: 0.85;
        }
      }
      @media only screen and (max-width : 600px) {
        .wrap-module {
          p {
            font-size: 15px;
          }
        }
      }
    }

  script.

    this.h2 = {
      label: 'X-portとは',
      color: 'color:#fff; border-color:#fff;',
    } 

    this.lists = [
      {num: '1', content: '一見バラバラに見えるものが、集う港 (port)としての展示を行う。'},
      {num: '2', content: '出力 (export) の意の通り、「これまでデザインされてこなかった未知なる領域 = X」の研究成果を出力し、社会との接点を持つ。'},
    ];
