module-event.pt40.pb40
  div.wrap-module
    item-h2(content='{h2}').mb16
    div.wrap-events.mt28
      // sec1
      item-label-event(content='03.24th (sat)').mb28
      item-time-event(content='{times[0]}').mb20
      div.wrap-guests.ml22.mb80
        item-guest(each='{item in guests1}', content='{item}').mb12
      // sec2
      item-label-event(content='03.25th (sun)').mb28
      item-time-event(content='{times[1]}').mb20
      div.wrap-guests.ml22.mb80
        item-guest(each='{item in guests2}', content='{item}').mb12


  style(scoped, type='less').
    :scope {
      display: block;
      background: #2B45F4;
      .wrap-module { 
        width: 92%;
        max-width: 948px;
        margin: 0 auto;
        .wrap-events {
          border-left: solid rgba(255, 255, 255, 0.6) 4px;
          .wrap-guests {
            display: flex;
            flex-wrap: wrap;
          }
        }
      }
      @media only screen and (max-width : 600px) {
        .wrap-module {
          .wrap-events {
            border-left: solid rgba(255, 255, 255, 0.6) 2px;
            .wrap-guests {
              display: block;
              margin-left: 14px;
            }
          }
        }
      }
    }

  script.

    this.h2 = {
      label: 'トークイベント',
      color: 'color:#fff; border-color:#fff;',
    }

    this.times = [
      { time: '16:00-17:30', label: '創造性と機械学習' },
      { time: '14:00-15:30', label: '研究と創職' },
    ];

    this.guests1 = [
      { name: '松川昌平', about: '慶應義塾大学環境情報学部准教授', src: './img/guests/matsukawa.jpg'},
      { name: '徳井直生', about: '株式会社Qosmo 代表取締役', src: './img/guests/tokui.jpg'},
    ];
    
    this.guests2 = [
      { name: '田中浩也', about: '慶應義塾大学環境情報学部教授', src: './img/guests/tanaka.jpg'},
      { name: '秋吉浩気', about: '株式会社VUILD 代表取締役', src: './img/guests/akiyoshi.jpg'},
      { name: '佐々木雅宏', about: '合同会社archiroid 共同代表', src: './img/guests/sasaki.jpg'},
      { name: '髙橋征資', about: 'バイバイワールド株式会社 代表取締役', src: './img/guests/takahashi.jpg'},
    ];
