module-content-work.pb80
  div.wrap-module.pb80
    h2 {opts.content.label}
    div.wrap-explain.mt20
      p {opts.content.explain}
    div.wrap-prof.mt12
      p {opts.content.name}
      p {opts.content.belonging}
    div.wrap-img.mt40
      img(each='{item in imgs}', src='{item}').mb40
      
  style(scoped, type='less').
    :scope {
      display: block;
      background: #2B45F4;
      .wrap-module { 
        width: 60%;
        max-width: 948px;
        margin: 0 auto;
        h2 {
          color: #fff;
        }
        .wrap-explain {
          p {
            color: #FFF;
            font-weight: lighter;
          }
        }
        .wrap-prof {
          p {
            color: #FFF;
            text-align: right;
            font-weight: lighter;
          }
        }
      }
      @media only screen and (max-width : 600px) {
        .wrap-module {
          padding-bottom: 0;
          width: 92%;
          .wrap-img {
            img {
              margin-bottom: 20px;
            }
          }
        }
      }
    }

  script.

    this.imgs = opts.content.imgs;

    /*
    this.imgs = [
      './img/works/detail/aura/1.png',
      './img/works/detail/aura/1.png',
      './img/works/detail/aura/1.png',
      './img/works/detail/aura/1.png',
    ];
    */
