module-footer
  div.wrap-module.py20
    div.wrap-p
      p.name 慶應義塾大学SFC 学生有志展示会 2018
      p お問い合わせ: Twitter: #[a(target='_blank' href='https://twitter.com/xport2018') @xport2018] / Facebook: #[a(target='_blank' href='https://www.facebook.com/XportSFC') XportSFC]
      p Copyright © SFC X-port 2018. All Rights Reserved.

    

  style(scoped, type='less').
    :scope {
      display: block;
      background: #EFEFEF;
      width: 100%;
      height: 18vh;
      .wrap-module { 
        position: relative;
        width: 92%;
        height: 100%;
        max-width: 948px;
        margin: 0 auto;
        .wrap-p{
          width: 100%;
          position: absolute;
          bottom: 5%;
          //- font-weight: bold;
          .name {
            //- font-size: 14px;
            font-weight: bold;
          }
          p {
            font-size: 12px;
            line-height: 1.8;
            color: #000;
            opacity: 0.6;
          }
          a {
            border-bottom: solid 1px;
          }
          //- .copy {
          //-   width: 100%;
          //-   position: absolute;
          //-   bottom: 5%;
            //- text-align: center;
          //- }
        }
      }
      @media only screen and (max-width : 600px) {
        .wrap-module {
          .wrap-p {
            p {
              font-size: 10px;
            }
          }
        }
      }
    }

  script.
