module-footer
  div.wrap-module.py20
    div.wrap-p
      p お問い合わせ：hogehoge@sfc.keio.ac.jp
      p Copyright © 2018 Hoge Fuga of Hoge. All Rights Reserved.

    

  style(scoped, type='less').
    :scope {
      display: block;
      background: #EFEFEF;
      width: 100%;
      height: 18vh;
      .wrap-module { 
        position: relative;
        width: 92%;
        height: 100%;
        max-width: 948px;
        margin: 0 auto;
        .wrap-p{
          width: 100%;
          position: absolute;
          bottom: 5%;
          //- font-weight: bold;
          p {
            font-size: 14px;
            line-height: 1.8;
            color: #000;
            opacity: 0.6;
          }
          //- .copy {
          //-   width: 100%;
          //-   position: absolute;
          //-   bottom: 5%;
            //- text-align: center;
          //- }
        }
      }
      @media only screen and (max-width : 600px) {
        .wrap-module {
          .wrap-p{
            p {
              font-size: 10px;
            }
          }
        }
      }
    }

  script.
