module-works.pt40.pb80
  div.wrap-module
    item-h2(content='{h2}').mb32
    div.wrap-works.f.flex-wrap.flex-row.flex-between
      item-work(each='{item in works}', content='{item}')
      div.box-dummy
        div.dummy-content
      //item-work(each='{item in empty}', content='{item}', style='background: rgba(42, 69, 244, 0.2);').hide

  style(scoped, type='less').
    :scope {
      display: block;
      background: #fff;
      .wrap-module { 
        width: 92%;
        max-width: 948px;
        margin: 0 auto;
        p {
          color: #fff;
          letter-spacing: 1px;
        }
        .wrap-works {
          .box-dummy {
            display: block;
            width: 19.8%;
            background: #fff;
            .dummy-content {
              display: block;
              position: relative;
              width: 100%;
              height: auto;
              overflow: hidden;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
            .dummy-content:before {
              content: "";
              display: block;
              padding-top: 100%;
            }
          }
          .hide {
            background: #ffffff;
          }
        }
      }
      @media only screen and (max-width : 600px) {
        .hide {
          display: none;
        }
      }
    }
  
  script.
    this.h2 = {
      label: '展示作品 (順次公開)',
      color: 'color:#2A45F4; border-color:#2A45F4;',
    };

    this.works = topContents;
    
    this.empty = [
      {
        label: 'dummy flex',
        src: '',
      },
    ]

    /*
    this.works = [
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '',
      },
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '',
      },
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '',
      },
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '',
      },
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '/',
      },
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '/',
      },
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '/',
      },
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '/',
      },
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '/',
      },
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '/',
      },
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '/',
      },
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '/',
      },
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '/',
      },
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '/',
      },
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '/',
      },
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '/',
      },
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '/',
      },
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '/',
      },
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '/',
      },
      {
        label: '石原作品',
        src: './img/works/work-dummy@2x.png',
        href: '/',
      },
    ];
    */

    
